<form id="prgform" action="{{ url('prg_control', [], true) }}" method="post">
    <input type="hidden" name="prgdata" id="prgdata">
</form>

<script src="{{ asset('bundles/prg/js/prg_bundle.js') }}"></script>