<form id="prgform" target="_self" action="{{ url('prg_control', [], true) }}" method="post">
    <input type="hidden" name="prgdata" id="prgdata">
</form>

<script src="{{ asset('bundles/bfprg/js/prg_bundle.min.js') }}"></script>